<nav id="nav" class="navbar fixed-top bg-transparent navbar-expand">
  <div id="nav__wrapper" class="container">
    <div id="nav__wrapper--menu">
      <ul class=" navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="./" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="./preferences" routerLinkActive="active">Preferences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="./records" routerLinkActive="active">Records</a>
        </li>
      </ul>
    </div>
    <div id="nav__wrapper--authentication">
      <ng-container *ngIf="isLogged">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" (click)="logout()" routerLink="/">Logout</a>
          </li>
        </ul>
      </ng-container>

      <ng-container *ngIf="!isLogged">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="signup">Register</a>
          </li>
        </ul>
      </ng-container>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>